img{
    width: 20%;
    height: 20%;
   
}
button{
    background-color: blueviolet;
    
}
.aa{
    background-color: aqua;
    border: 2px solid goldenrod;
    padding: 5px;
}
.aa:hover{
    background-color: black;
    color: bisque;
    padding: 5px;
}